@{
    ViewData["Title"] = "Demo";
}

<div class="card">
  <div class="card-header">
    Demo
  </div>
  <div class="card-body">
    <div class="text-center">
        <p class="display-4">D3M0 @DateTime.Now.ToString() !</p>
    </div>
  </div>
</div>